@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Erişim Reddedildi</h1>
    <p class="lead">Bu sayfaya erişim yetkiniz bulunmamaktadır.</p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ana Sayfaya Dön</a>
</div>

